{% extends "base.html" %}

{% block content %}
  <h1>{% if procurador.pk %}Editar Procurador{% else %}Agregar Procurador{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
  <a href="{% url 'procuradores_list' %}">Volver al Listado de Procuradores</a>
{% endblock %}