{% extends "base.html" %}

{% block content %}
  <h1>Listado de Procuradores</h1>
  <ul>
    {% for procurador in procuradores %}
    <li>{{ procurador.nombre }} ({{ procurador.dni }}) - <a href="{% url 'procuradores_update' procurador.pk %}">Editar</a> | <a href="{% url 'procuradores_delete' procurador.pk %}">Eliminar</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'procuradores_create' %}">Agregar Procurador</a>
{% endblock %}