{% extends "base.html" %}

{% block content %}
  <h1>Confirmar Eliminación de Procurador</h1>
  <p>¿Estás seguro de que deseas eliminar el Procurador "{{ procurador.nombre }}" ({{ procurador.dni }})?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'procuradores_list' %}">Cancelar</a>
{% endblock %}