{% extends "base.html" %}

{% block content %}
  <h1>{% if asuntos.pk %}Editar asuntos{% else %}Agregar asunto{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
  <a href="{% url 'asuntos_list' %}">Volver al Listado de asuntos</a>
{% endblock %}