{% extends "base.html" %}

{% block content %}
  <h1>Listado de asuntos</h1>
  <ul>
    {% for asunto in asuntos %}
      <li>{{ asunto.nombre }} ({{ asunto.codigo }}) - <a href="{% url 'asuntos_update' asunto.pk %}">Editar</a> | <a href="{% url 'asuntos_delete' asunto.pk %}">Eliminar</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'asuntos_create' %}">Agregar asunto</a>
{% endblock %}
