{% extends "base.html" %}

{% block content %}
  <h1>Confirmar Eliminación del asunto</h1>
  <p>¿Estás seguro de que deseas eliminar el asunto "{{ asunto.nombre }}" ({{ asunto.codigo }})?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
  </form>
  <a href="{% url 'asuntos_list' %}">Cancelar</a>
{% endblock %}
