{% extends "base.html" %}

{% block content %}
  <h1>Listado de Clientes</h1>
  <ul>
    {% for cliente in clientes %}
      <li>{{ cliente.nombre }} ({{ cliente.dni }}) - <a href="{% url 'clientes_update' cliente.pk %}">Editar</a> | <a href="{% url 'clientes_delete' clientes.pk %}">Eliminar</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'clientes_create' %}">Agregar Cliente</a>
{% endblock %}