{% extends "base.html" %}

{% block content %}
  <h1>{% if pais.pk %}Editar Cliente{% else %}Agregar Cliente{% endif %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
  </form>
  <a href="{% url 'clientes_list' %}">Volver al Listado de Clientes</a>
{% endblock %}