<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block title %}Iniciar Sesion {% endblock %}

    {% block content %}

    <div>
        <h1>
            INICIAR SESION
        </h1>
        <form method="post">
             {% csrf_token %}
             {{form.as_p}}
             <button type="submit" class="">Iniciar Sesion</button>
        </form>

    </div>

    {% endblock %}
</body>
</html>